<div class="container" id="students">
    {{#each details}}
    <h2 class="article-title">Group Details - {{this.name}}</h2>
    <div class="body">   
        Group ID: {{this.id}}<br />
        Group Name: {{this.name}}<br />
        Description: {{this.description}}<br />
    {{/each}}

    Supervisor: 
    {{#each supervisor}}
    {{!-- test supervisor id retrieved is {{this.supervisorId}}, which is part of {{this}} --}}
    <a href="/portal/moduleLeader/supervisors/detail/{{this.id}}">{{this.firstname}} {{this.surname}}</a>
    {{/each}}<br/>

    Client: 
    {{#each client}}
    <a href="/portal/moduleLeader/clients/detail/{{this.id}}">{{this.firstname}} {{this.surname}}</a>
    {{/each}}<br/>

    Group Members:
    <ul>
    {{#each members}}
    <li><a href="/portal/moduleLeader/students/detail/{{this.id}}">{{this.firstname}} {{this.surname}}</a></li>
    {{/each}}
    </ul>
    </div>
</div>
