<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2 class="dropdown-toggle">
                Client Details
            </h2>
            <h4>
                Name: {{details.firstname}} {{details.surname}}
            </h4>
            <h4>
                Email: {{details.email}}
            </h4>
        </div>

        <table class="table table-ruled table-hover table-condensed" id="client_groups">
            <thead>
            <tr>
                <th>Group Name</th>
            </tr>
            </thead>
            <tbody>
            {{#each groups}}
                <tr>
                    <td>
                        <a href="/portal/moduleLeader/groups/detail/{{this.id}}">
                            {{this.name}}
                        </a>
                    </td>
                </tr>
            {{/each}}
            {{#each noGroups}}
                <tr>
                    <td>
                        <a href="/portal/moduleLeader/groups/detail/{{this.id}}">
                            {{this.name}}
                        </a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
</div>
