<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#currentProposal" aria-controls="currentProposal" role="tab" data-toggle="tab">
            Current Proposal
        </a>
    </li>
    <li role="presentation">
        <a href="#proposalHistory" aria-controls="proposalHistory" role="tab" data-toggle="tab">
            Proposal History
        </a>
    </li>
    <li role="presentation">
        <a href="#projectGroups" aria-controls="projectGroups" role="tab" data-toggle="tab">
            Groups
        </a>
    </li>
    <li class="pull-right">
        <h2>Project: {{projectDetails.name}}</h2>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="currentProposal">
        {{#if_compare projectDetails.status '===' 'P'}}
        <a data-toggle="modal" data-target="#reviewProposalModal">
            <i class="glyphicon glyphicon-edit"></i>
            Review Project Proposal
        </a>
        {{/if_compare}}
        {{#if currentProposal}}
        <div class="well">
            <p>
                Status:
                {{#if_compare projectDetails.status '===' 'R'}}
                Proposal Requested
                {{/if_compare}}
                {{#if_compare projectDetails.status '===' 'A'}}
                Proposal Accepted
                {{/if_compare}}
                {{#if_compare projectDetails.status '===' 'P'}}
                Requires Reviewing
                {{/if_compare}}
                {{#if_compare projectDetails.status '===' 'C'}}
                Awaiting Amendments
                {{/if_compare}}
            </p>
            <p>
                Submission date: {{currentProposal.createdAt}}
            </p>
            <p>
                Brief: {{currentProposal.brief}}
            </p>
            {{#checkIf projectDetails.status '===' 'A' '||' projectDetails.status '===' 'C'}}
            <p>
                Review date: {{currentProposal.proposal_review.createdAt}}
            </p>
            <p>
                Reviewed By:
                {{currentProposal.proposal_review.module_leader.firstname}}
                {{currentProposal.proposal_review.module_leader.surname}}
            </p>
            <p>
                Review feedback: {{currentProposal.proposal_review.comment}}
            </p>
            {{/checkIf}}
        </div>
        {{/if}}
    </div>
    <div role="tabpanel" class="tab-pane" id="proposalHistory">
        {{#if proposalHistory.length}}
        {{#each proposalHistory}}
        <div class="well">
            <p>
                Submission date: {{this.createdAt}}
            </p>
            <p>
                Brief: {{this.brief}}
            </p>
            <p>
                Review date: {{this.proposal_review.createdAt}}
            </p>
            <p>
                Reviewed By:
                {{this.proposal_review.module_leader.firstname}}
                {{this.proposal_review.module_leader.surname}}
            </p>
            <p>
                Review feedback: {{this.proposal_review.comment}}
            </p>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <div role="tabpanel" class="tab-pane" id="projectGroups">
        {{#if groupsToAdd.length}}
        {{#if_compare projectDetails.status '===' 'A'}}
        <a data-toggle="modal" data-target="#assignGroupProject">
            <i class="glyphicon glyphicon-edit"></i>
            Assign a group this project
        </a>
        {{/if_compare}}
        {{/if}}
        {{#if projectGroups.length}}
            <table class="table table-ruled table-hover table-condensed" id="Groups">
                <thead>
                <tr>
                    <th>Group</th>
                </tr>
                </thead>
                <tbody>
                {{#each projectGroups}}
                    <tr>
                        <td>
                            <a href="/portal/moduleLeader/groups/detail/{{this.id}}">
                                {{this.name}}
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
        <p>
            No groups have been assigned this project.
        </p>
        {{#if_compare projectDetails.status '!==' 'A'}}
            (Until Project is Accepted it cannot be assigned)
        {{/if_compare}}
        {{/if}}
    </div>
</div>

{{#if_compare projectDetails.status '===' 'P'}}
<div id="reviewProposalModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Review project proposal
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form id="new-proposal" action="/portal/moduleLeader/projectProposal/review" method="POST">
                            <div class="form-group">
                                <label for="reviewComment">Comment</label>
                                <textarea class="form-control" type="text" id="reviewComment" name="comment"
                                    placeholder="Comment" required autofocus>
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="projectStatus">Accept/Reject</label>
                                <select class="form-control" id="projectStatus" name="status">
                                    <option value="A">
                                        Accept
                                    </option>
                                    <option value="C">
                                        Reject
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="new-proposal">Save &amp; Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{{/if_compare}}

{{#if groupsToAdd.length}}
<div id="assignGroupProject" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Assign a Group this Project
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form id="assign-project" action="/portal/moduleLeader/projects/{{projectDetails.id}}/assigntogroup" method="POST">
                            <div class="form-group">
                                <label for="group">Group</label>
                                <select class="form-control" id="group" name="group">
                                    {{#each groupsToAdd}}
                                    <option value="{{this.id}}">
                                        {{this.name}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="assign-project">Save &amp; Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{{/if}}