<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2 class="dropdown-toggle">
                Students
            </h2>
        </div>
        <a data-toggle="modal" data-target="#studentsModal"
           data-title="Add Student"
           data-button="Add Student"
           data-action="/portal/moduleLeader/students/add">
            <i class="glyphicon glyphicon-edit"></i>
            Add a new Student
        </a>
        <br>
        <a href="/portal/moduleLeader/students/loadCSV">
            <i class="glyphicon glyphicon-edit"></i>
            Add students from CSV File
        </a>
        <br>
        <br>
        {{#if studentslist.length}}
            <table class="table table-ruled table-hover table-condensed" id="student_table">
                <thead>
                <tr>
                    <th class="tfloatright"><p>Student</p></th>
                    <th class="tfloatleft"><p>Name</p></th>
                </tr>
                </thead>
                <tbody>
                {{#each studentslist}}
                    <tr>
                        <td>
                            <a href="/portal/moduleLeader/students/detail/{{this.id}}">
                                {{this.firstname}}
                                {{this.surname}}
                            </a>
                        </td>
                        <td>
                            <a data-toggle="modal" data-target="#studentsModal"
                               data-title="Edit Student"
                               data-button="Update Student"
                               data-action="/portal/moduleLeader/students/edit/{{this.id}}"
                               data-student_number="{{this.student_number}}"
                               data-firstname="{{this.firstname}}"
                               data-surname="{{this.surname}}"
                               data-email="{{this.email}}">
                                <i class="glyphicon glyphicon-edit"></i>
                                Edit
                            </a>

                            <a data-toggle="modal" data-target="#studentsModal"
                               data-title="Delete Student"
                               data-button="Delete Student"
                               data-action="/portal/moduleLeader/students/delete/{{this.id}}"
                               data-student_number="{{this.student_number}}"
                               data-firstname="{{this.firstname}}"
                               data-surname="{{this.surname}}"
                               data-email="{{this.email}}">
                                <i class="glyphicon glyphicon-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>
                No Students have been added yet.
            </p>
        {{/if}}
    </div>
</div>


<div id="studentsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="param-title">
                    None
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form id="param-form" action="#" method="POST">
                            <div class="form-group">
                                <label for="param-firstname">First Name</label>
                                <input class="form-control" type="text" id="param-firstname" name="sfirstname"
                                       placeholder="Enter First Name" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="param-surname">Surname</label>
                                <input class="form-control" type="text" id="param-surname" name="ssurname"
                                       placeholder="Enter Surname" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="param-student_number">Student Number</label>
                                <input class="form-control" type="text" id="param-student_number" name="sstudentNumber"
                                       placeholder="Enter Student Number" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="param-email">Email</label>
                                <input class="form-control" type="email" id="param-email" name="semail"
                                       placeholder="Enter Email" required autofocus>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="param-button" form="param-form"></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
